<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body widget-style-2">
                <div class="media">
                    <div class="media-body align-self-center">
                        <h2 class="my-0"><span data-plugin="counterup">{{lists[5]}}</span></h2>
                        <p class="mb-0">Nhiệt Độ</p>
                    </div>
                    <span class="iconify" data-icon="mdi:temperature-celsius" data-height="64" data-inline="false"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body widget-style-2">
                <div class="media">
                    <div class="media-body align-self-center">
                        <h2 class="my-0"><span data-plugin="counterup">{{lists[2]}}</span></h2>
                        <p class="mb-0">Độ Ẩm</p>
                    </div>
                    <span class="iconify" data-icon="mdi:percent-outline" data-height="64" data-inline="false"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="card ">
            <div class="card-body widget-style-2">
                <div class="media">
                    <div class="media-body align-self-center">
                        <h2 class="my-0"><span data-plugin="counterup">{{lists[6]}}</span></h2>
                        <p class="mb-0">Khói</p>
                    </div>
                    <i class="ion-ios-pricetag text-info bg-light"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6" >
        <div class="card">
            <div class="card-body widget-style-2">
                <div class="media">
                    <div class="media-body align-self-center">
                        <h2 class="my-0">
                            <span data-plugin="counterup" >
                                {{lists[4]}}
                            </span>
                        </h2>
                        <p class="mb-0">Trạng Thái</p>
                    </div>
                    <i class="mdi mdi-comment-multiple text-primary bg-light"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body widget-style-2">
                <div class="media">
                    <div class="media-body align-self-center">
                        <h2 class="my-0"><span data-plugin="counterup">{{lists[0]}}</span></h2>
                        <p class="mb-0">Áng Sáng của lửa</p>
                    </div>
                    <i class="mdi mdi-comment-multiple text-primary bg-light"></i>
                </div>
            </div>
        </div>
    </div>
</div>